.prominent-titles {
  display: inline-block;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #f1dc39 var(--tw-gradient-from-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #c96e05 var(--tw-gradient-via-position),
    var(--tw-gradient-to);
  --tw-gradient-to: #8d37d8 var(--tw-gradient-to-position);
  background-clip: text;
  color: transparent;
}

.special-elite-text {
  font-family: var(--font-special-elite);
}
.cbutton {
    position: relative;
    font-size: 14px;
    font-family: inherit;
    color: rgb(255, 255, 255);
    width: 19em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    z-index: 1;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: linear-gradient(90deg, rgb(234, 179, 8), rgb(244, 65, 165), rgb(255, 235, 59), rgb(26, 96, 138)) 0% 0% / 300%;
    border-radius: 30px;
}
.cbutton:hover {
    animation: 8s linear 0s infinite normal none running ani;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
/* .qblock {
	color: #fafafa;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */
/* 
blockquote {
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 1.2;
  position: relative;
  margin: 0;

} */
/* 
blockquote:before,
blockquote:after {
  position: absolute;
  color: #d4d2cb;
  font-size: 8rem;
  width: 2rem;
  height: 2rem;
}

blockquote:before {
  content: '“';
  left: -5rem;
  top: -1rem;
}

blockquote:after {
  content: '”';
  right: -4rem;
  bottom: -3rem;
} */

cite {
  font-size: 2em;
  line-height: 3;
  text-align: left;
}


/* From Uiverse.io by csskbuttons-io */ 
kbutton {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

kbutton.learn-more {
 width: 12rem;
 height: auto;
}

kbutton.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

kbutton.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

kbutton.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

kbutton.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

kbutton.learn-more .kbutton-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

kbutton:hover .circle {
 width: 100%;
}

kbutton:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

kbutton:hover .kbutton-text {
 color: #fff;
}