.special-elite-text {
  font-family: var(--font-special-elite);
}
/* .qblock {
	color: #fafafa;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */
/* 
blockquote {
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 1.2;
  position: relative;
  margin: 0;

} */
/* 
blockquote:before,
blockquote:after {
  position: absolute;
  color: #d4d2cb;
  font-size: 8rem;
  width: 2rem;
  height: 2rem;
}

blockquote:before {
  content: '“';
  left: -5rem;
  top: -1rem;
}

blockquote:after {
  content: '”';
  right: -4rem;
  bottom: -3rem;
} */

cite {
  font-size: 2em;
  line-height: 3;
  text-align: left;
}
